

<% if signed_in? %>
  <div class="row">
    	<%= render 'static_pages/signed_in_user_homepage' %>
  </div>  
<% else %>
  		<%= render 'static_pages/non_signed_in_user_homepage' %>
  		<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 
